.grid {
    align-self: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    padding-top: 10%;
    height: 618px;
    width: 618px;
}

.mole {
    background-image: url('mole.jpg');
    background-size: cover;
}

.root {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-content: center;
    justify-items: center;
}

.square {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: black;
}

.text {
    display: flex;
    align-self: center;
}
